<form class="max-w-md mx-auto" [formGroup]="formulario">
  <h2 class="text-3xl font-extrabold dark:text-dark">Horóscopo Chino</h2>
  <br>
  <h2 class="text-1xl font-extrabold dark:text-dark">Datos Personales</h2>
  <br>
  <div class="grid md:grid-cols-3 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="nombre" formControlName="nombre" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent" placeholder="nombre" required />
        <label for="nombre" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="apat" formControlName="apat" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent"  placeholder="apat" required />
        <label for="apat" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellido Paterno</label>
    </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="apam" formControlName="apam" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent"  placeholder="apam" required />
        <label for="apam" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellido Materno</label>
    </div>
  </div>

  <h2 class="text-1xl font-extrabold dark:text-dark">Fecha de Nacimiento</h2>
  <br>
  <div class="grid md:grid-cols-3 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" id="dia" formControlName="dia" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent" placeholder="dia" required />
        <label for="dia" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dia</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" id="mes" formControlName="mes" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent" placeholder="mes" required />
        <label for="mes" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mes</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" id="anio" formControlName="anio" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer placeholder-transparent" placeholder="anio" required />
        <label for="anio" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Año</label>
    </div>
  </div>


  <h2 class="text-1xl font-extrabold dark:text-dark">Sexo</h2>
  <br>
  <div class="grid md:grid-cols-3 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="radio" id="femenino" value="Femenino" formControlName="sexo" />
        <label for="Femenino" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Femenino</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="radio" id="femenino" value="Masculino" formControlName="sexo" />
        <label for="Masculino" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Masculino</label>
    </div>
  </div>


  <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="calcular()">Calcular</button>

<br><br>
    <hr>
    <div *ngIf="mostrarResultado">
      <h3 class="text-2xl font-extrabold dark:text-dark">Resultado</h3>
      <p class="text-1xl font-extrabold dark:text-dark">Hola {{ formulario.value.nombre }} {{ formulario.value.apat }} {{ formulario.value.amat }}</p>
      <p class="text-1xl font-extrabold dark:text-dark">Tienes {{ edad }} años</p>
      <p class="text-1xl font-extrabold dark:text-dark">Tu sexo es {{ formulario.value.sexo }}</p>
      <p class="text-1xl font-extrabold dark:text-dark">Tu signo zodiacal chino es {{ signo }}</p>
      <img [src]="imagen" [alt]="signo" width="350">
    </div>
</form>

